.node {
  fill: #ccc;
  stroke: #777;
  stroke-width: 1px;
}

.link {
  stroke: #777;
  stroke-width: 1px;
}

.arrowHead {
  fill: #555;
}

.triggerNodeLabelsButton {
  background-image:url("/ui/img/nodeLabel.png");
}

.triggerNodeLabelsButton.visible {
  background-position:0px;
}

.triggerNodeLabelsButton.hidden {
  background-position:14px;
}

.triggerNodeLabelsButton.visible:hover {
  background-position:14px;
}

.triggerEdgeLabelsButton {
  margin-top:1px;
  background-image:url("/ui/img/edgeLabel.png");
}

.triggerEdgeLabelsButton.visible {
  background-position:0px;
}

.triggerEdgeLabelsButton.hidden {
  background-position:14px;
}

.triggerEdgeLabelsButton.visible:hover {
  background-position:14px;
}

.triggerDirectionsButton {
  margin-top:1px;
  background-image:url("/ui/img/arrowHead.png");
}

.triggerDirectionsButton.visible {
  background-position:0px;
}

.triggerDirectionsButton.hidden {
  background-position:14px;
}

.triggerDirectionsButton.visible:hover {
  background-position:14px;
}
