body {
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  overflow: hidden;
  font: 10px sans-serif;
}

.header {
  width:100%;
  height:18px;
}

#vizTitle {
  border:0px;
  margin-left:10px;
  margin-top:2px;
  width:30%;
}

.servable-title {
  font: 11px sans-serif;
}

.headerElement {
  margin-right:10px;
  float:right;
  height:14px;
}

.headerButton {
  margin-right:10px;
  margin-top:2px;
  float:right;
  height:14px;

  cursor:pointer;
  width:14px;
}

#servableSelector {
  margin-right:10px;
  float:right;

  cursor:pointer;
  width:200px;
}

#lockButton {
  background-image:url("/ui/img/lock.png");
  margin-top:3px;
}

#lockButton.unlocked {
  background-position:14px;
}

#lockButton.locked {
  background-position:0px;
}

#lockButton.unlocked:hover {
  background-position:0px;
}

#content {
  margin-top:10px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
