#enableJitterButton {
  background-image:url("/ui/img/jitter.png");
}

#enableJitterButton.disabled {
  background-position:14px;
}

#enableJitterButton.enabled {
  background-position:0px;
}

#enableJitterButton.disabled:hover {
  background-position:0px;
}
