#header {
  width:100%;
  height:14px;
}

#lockButton {
  cursor:pointer;
  float:right;
  width:14px;
  height:14px;
  background-image:url("/ui/img/lock.png");
}

#lockButton.unlocked {
  background-position:14px;
}

#lockButton.locked {
  background-position:0px;
}

#lockButton.unlocked:hover {
  background-position:0px;
}

body, html, #pcvis {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}

#grid, #pager {
    position: fixed;
    width: 100%;
}

#grid {
    bottom: 0;
    height: 400px;
}

#pager {
    bottom: 406px;
    height: 20px;
}

.slick-row:hover {
    font-weight: bold;
    color: #069;
}
