body {
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    overflow: hidden;
    font: 10px sans-serif;
}

#header {
  width:100%;
  height:14px;
}

#vizTitle {
  border:0px;
  margin-left:10px;
  width:30%;
}

.headerElement {
  margin-top:1px;
  margin-right:10px;
  float:right;
  height:14px;
}

.headerButton {
  margin-top:1px;
  margin-right:10px;
  float:right;
  height:14px;

  cursor:pointer;
  width:14px;
}

#lockButton {
  background-image:url("/ui/img/lock.png");
}

#lockButton.unlocked {
  background-position:14px;
}

#lockButton.locked {
  background-position:0px;
}

#lockButton.unlocked:hover {
  background-position:0px;
}
