.keyValueTable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 0%;
  margin: auto;
}

.keyValueTable td {
  font: 11px sans-serif;
  text-align: right;
  padding: 2px;
}

.keyValueTable .value {
  padding-left: 10px;
}

.keyValueTable .key {
  border-right: 1px solid #ccc;
  padding-right:10px;
}
