.boundButton {
  width: 50px;
  height: 14px;
  text-align:right;
  font-size: 10px;
}

#boundArea {
  float: right;
  margin-right: 10px;
}

#ylOrRdButton {
  margin-right:10px;
  cursor:pointer;
  float:right;
  width:14px;
  height:14px;
  background-image:url("/ui/img/YlOrRd.png");
}

#pRGnButton {
  margin-right:10px;
  cursor:pointer;
  float:right;
  width:14px;
  height:14px;
  background-image:url("/ui/img/PRGn.png");
}
