.boundButton {
  width: 50px;
  height: 14px;
  text-align:right;
  font-size: 10px;
  border: 1px solid #ccc;

}

.boundArea {
  float: right;
  margin-right: 10px;
  margin-top:2px;
}

.ylOrRdButton {
  background-image:url("/ui/img/YlOrRd.png");
}

.pRGnButton {
  background-image:url("/ui/img/PRGn.png");
}
