body, html, #pcvis {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}

#grid, #pager {
    position: static;
    width: 100%;
}

#pager {
    height: 20px;
}

.slick-row:hover {
    font-weight: bold;
    color: #069;
}
